
  
  .list li {
    margin: 0.75rem 0;
  }
  
  .info {
    color: rgb(0, 49, 0);
    background-color: rgb(230, 246, 230);
    padding: 1rem;
    border-radius: 4px;
  }
  
  .accordion {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
  }
  
  .item {
    border-bottom: 1px solid #ccc;
  }
  
  .itemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    color: #4B5563;
    background-color: transparent;
    border: none;
  }
  
  .itemBtn:hover {
    background-color: #F3F4F6;
  }
  
  .itemBtnExpanded {
    background-color: #F9FAFB;
  }
  
  .itemContent {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  }
  
  .itemPanel {
    padding: 1rem;
  }
  
  .chevron {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }
  
  .itemBtnExpanded .chevron {
    transform: rotate(180deg);
  }
  